<div class="mat-elevation-z8">

  <mat-toolbar>
    <mat-form-field>
      <input matInput placeholder="Filter" (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
    <button mat-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.position}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
    </ng-container>

    <!-- Identicon Column -->
    <ng-container matColumnDef="identicon">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <img width=32 height=32 src="data:image/png;base64,{{row.identicon}}" /> </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.address}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="whitelist">
      <mat-header-cell *matHeaderCellDef>Whitelisted</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-slide-toggle color="primary" [checked]="row.whitelist" (change)="toggleWhitelist(row)"></mat-slide-toggle>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10">
  </mat-paginator>
</div>