.mat-toolbar .mat-form-field {
  font-size: small;
  flex: 1;
  margin: 0 16px -16px 16px;
}

.mat-toolbar .mat-button {
  min-width: 56px;
}

.cdk-column-position,
.cdk-column-identicon {
  max-width: 48px;
}

.cdk-column-whitelist {
  display: flex;
  max-width: 88px;
  justify-content: center;
}

.mat-row:hover {
  background-color: #f5f5f5;
}
